@namespace StudentsAffairs.Server.Components.Forms

<EditForm Model="@user" class="manage-entities-form">
    <FluentValidationValidator/>
    <div class="form-group">
        <label>Select User Role</label>
        <InputSelect @bind-Value="selectedRole" class="form-control" >
            <option value="">-- Select Role --</option>
            <option value="Student">Student</option>
            <option value="Tutor">Tutor</option>
            <option value="Admin">Admin</option>
        </InputSelect>
    </div>
    
    @if (selectedRole == "Student")
    {
        <div>
            <h4>Create Student</h4>
            <label>Username</label>
            <InputText @bind-Value="newStudent.Username" class="form-control" />
            <ValidationMessage For="@(() => newStudent.Username)" />

            <label>Name</label>
            <InputText @bind-Value="newStudent.Name" class="form-control" />
            <ValidationMessage For="@(() => newStudent.Name)" />

            <label>Age</label>
            <InputNumber @bind-Value="newStudent.Age" class="form-control" />
            <ValidationMessage For="@(() => newStudent.Age)" />
        </div>
    }
    else if (selectedRole == "Tutor")
    {
        <div>
            <h4>Create Tutor</h4>
            <label>Username</label>
            <InputText @bind-Value="newTutor.Username" class="form-control" />
            <ValidationMessage For="@(() => newTutor.Username)" />

            <label>Name</label>
            <InputText @bind-Value="newTutor.Name" class="form-control" />
            <ValidationMessage For="@(() => newTutor.Name)" />

            <label>Specialty</label>
            <InputText @bind-Value="newTutor.Specialty" class="form-control" />
            <ValidationMessage For="@(() => newTutor.Specialty)" />
        </div>
    }
    else if (selectedRole == "Admin")
    {
        <div>
            <h4>Create Admin</h4>
            <label>Username</label>
            <InputText @bind-Value="newAdmin.Username" class="form-control" />
            <ValidationMessage For="@(() => newAdmin.Username)" />

            <label>Name</label>
            <InputText @bind-Value="newAdmin.Name" class="form-control" />
            <ValidationMessage For="@(() => newAdmin.Name)" />

            <label>Admin Role</label>
            <InputText @bind-Value="newAdmin.AdminRole" class="form-control" />
            <ValidationMessage For="@(() => newAdmin.AdminRole)" />
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

